@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato-Regular.eot");
  src: url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Lato-Regular.woff2") format("woff2"),
    url("../fonts/Lato-Regular.woff") format("woff"),
    url("../fonts/Lato-Regular.ttf") format("truetype"),
    url("../fonts/Lato-Regular.svg#Lato-Regular") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MullerBold";
  src: url("../fonts/MullerBold.eot");
  src: url("../fonts/MullerBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MullerBold.woff2") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff"),
    url("../fonts/MullerBold.ttf") format("truetype"),
    url("../fonts/MullerBold.svg#MullerBold") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MullerMedium";
  src: url("../fonts/MullerMedium.eot");
  src: url("../fonts/MullerMedium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MullerMedium.woff2") format("woff2"),
    url("../fonts/MullerMedium.woff") format("woff"),
    url("../fonts/MullerMedium.ttf") format("truetype"),
    url("../fonts/MullerMedium.svg#MullerMedium") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Qanelas-SemiBold";
  src: url("../fonts/Qanelas-SemiBold.eot");
  src: url("../fonts/Qanelas-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Qanelas-SemiBold.woff2") format("woff2"),
    url("../fonts/Qanelas-SemiBold.woff") format("woff"),
    url("../fonts/Qanelas-SemiBold.ttf") format("truetype"),
    url("../fonts/Qanelas-SemiBold.svg#Qanelas-SemiBold") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "times-new-roman";
  src: url("../fonts/times-new-roman.eot");
  src: url("../fonts/times-new-roman.eot?#iefix") format("embedded-opentype"),
    url("../fonts/times-new-roman.woff2") format("woff2"),
    url("../fonts/times-new-roman.woff") format("woff"),
    url("../fonts/times-new-roman.ttf") format("truetype"),
    url("../fonts/times-new-roman.svg#times-new-roman") format("svg");
  font-style: normal;
  font-weight: normal;
}
