.friends {
  background-image: url(../img/friends/bg.png);
}
.swiper-container {
  height: 300px;
}

.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  left: 50%;
  top: 150px;
  z-index: 50;
  width: 5px;
  height: 98%;
  transform: rotate(-90deg);
  opacity: 1 !important;
}
.swiper-container-horizontal
  > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-container-vertical > .swiper-pagination-progressbar {
  transform: rotate(-90deg);
  left: 50%;
  top: 150px;
}

.progress {
  width: 10%;
  height: 20px;
  background-color: red;
  transition: all 0.3s ease;
}

.swiper-slide {
  & h4 {
    font-family: "times-new-roman";
    font-size: 36px;
    line-height: 41px;
    color: #1c1c1c;
    font-weight: bold;
  }
}
