.main {
  position: relative;
  &__item {
    height: 100vh;
    position: relative;
    & h2 {
      position: absolute;
      bottom: 70px;
      font-size: 26px;
      width: 100%;
      line-height: 30px;
      text-align: center;
      color: #fafafa;
      left: 50%;
      transform: translateX(-50%);
      text-shadow: 0px 0px 0 rgb(4, 135, 175), -1px 1px 0 rgb(4, 135, 175),
        -2px 2px 0 rgb(4, 135, 175), -3px 3px 2px rgba(0, 0, 0, 1),
        -3px 3px 1px rgba(0, 0, 0, 0.5), 0px 0px 2px rgba(0, 0, 0, 0.2);
      @media (min-width: 412px) {
        padding: 0px 20px;
      }
      @media (min-width: 576px) {
        width: 100%;
        font-size: 30px;
      }
      @media (min-width: 768px) {
        font-size: 40px;
        line-height: 40px;
        width: 800px;
      }
      @media (min-width: 992px) {
        font-size: 50px;
        line-height: 50px;
        width: 100%;
      }
      @media (min-width: 1200px) {
        font-size: 60px;
        line-height: 60px;
      }
      & span {
        display: block;
        position: relative;
        margin-top: 20px;
        @media (min-width: 576px) {
          margin-top: 30px;
        }
        @media (min-width: 1200px) {
          margin-top: 40px;
        }
        &:before {
          content: "";
          position: absolute;
          bottom: -10px;
          left: 50%;
          transform: translateX(-50%);
          height: 11px;
          @media (min-width: 992px) {
            bottom: -12px;
          }
        }
        &:first-child {
          &:before {
            width: 210px;
            background-image: url(../img/main/line-2.svg);
            @media (min-width: 576px) {
              width: 250px;
            }
            @media (min-width: 768px) {
              width: 340px;
            }
            @media (min-width: 992px) {
              width: 420px;
            }
            @media (min-width: 992px) {
              width: 420px;
            }
          }
        }
        &:nth-child(2) {
          &::before {
            width: 220px;
            background-image: url(../img/main/line.svg);
            @media (min-width: 452px) {
              width: 300px;
            }
            @media (min-width: 576px) {
              width: 340px;
            }
            @media (min-width: 768px) {
              width: 420px;
            }
            @media (min-width: 992px) {
              width: 520px;
            }
          }
        }
        &:last-child {
          &::before {
            width: 100px;
            background-image: url(../img/main/line-1.svg);
          }
        }
      }
    }
  }
  & .slick-prev {
    display: none !important;
  }
  & .slick-next {
    display: none !important;
  }
  & .slick-dots {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    & li {
      margin-top: 15px;
      width: 22px;
      height: 2px;
      background: #ffffff;
      border-radius: 2px 0px 0px 2px;
      display: block;
      position: absolute;
      right: 0;
      &:first-child {
        top: 0px;
      }
      &:nth-child(2) {
        top: 15px;
      }
      &:nth-child(3) {
        top: 30px;
      }
      &:last-child {
        top: 45px;
      }
      & a {
        width: 100%;
        height: 100%;
      }
    }
    & .slick-active {
      width: 36px;
      transition: all 0.3s ease;
    }
  }
}
